*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
display: flex;
justify-content: center;
align-items: center;
background-color: black;
width: 615px;
height: 415px;
}
.slider {
  display: flex;
    overflow: hidden;
    width: 547px;
    height: 315px;
position: relative;
  }
  .slider img {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
  }
  
  .slider img.active {
    opacity: 1;
  }
  
  .arrow-right,
  .arrow-left{
    z-index: 2;
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    color: chocolate;
    background-color: blanchedalmond;
    border-radius: 20px;

  }
  .arrow-right{
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

  }
  .arrow-left {
    bottom: 50%;
    left: 10px;
    transform: rotate(180deg) translateY(-50%);    ;
  }
  .slides-bottom{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    display: flex;
  }
  .slide-bottom{
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: white;
    margin: 0 10px;
  }
  .slides-bottom .active{
    background-color: blue;
  }
  